/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300,800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "Quicksand", sans-serif !important;
}

